.cardTitle {
  margin-bottom: 30px;
  text-align: center;
}

.listWrapper {
  margin-top: 20px;
  font-size: 16px;
}

.cardImage {
  width: 100%;
  height: auto;
}

.card {
  padding: 30px;
  color: #000000;
  box-shadow: -10px 25px 50px #fff;
  border-radius: 20px;
  background-color: whitesmoke;
}

.card h2,
.card ul li {
  color: #131313;
}

.card:hover {
  box-shadow: -10px 25px 50px #131313;
  transition: 0.7s;
}


