.card {
  padding: 30px;
  border-radius: 20px;
}

.card:hover {
  box-shadow: 
    inset 7px 7px 15px rgba(55, 84, 170,.15),
    inset -7px -7px 20px rgba(255, 255, 255,1),
    0px 0px 4px rgba(255, 255, 255,.2);
    transition: box-shadow 399ms ease-in-out;
}

.cardTitle {
  margin-bottom: 30px;
  text-align: center;
}

.listWrapper {
  margin-top: 20px;
  font-size: 16px;
}

.cardImage {
  width: 100%;
  height: auto;
}