.section {
  padding: 30px 0;
}

.sectionTitle {
  color: #fff;
  text-shadow: 2px 2px 5px rgba(255,255,255,0.5);
  font-size: 44px;
  text-align: center;
  margin-top: 100px;
}

.sectionSubTitle {
  text-align: center;
  color: #fff;
  margin-top: 30px;
  font-size: 24px;
  /* width: 50%; */
}