.footer-container {
  text-align: center;
  color: black;
  font-size: 20px;
  padding: 30px;
  background-color: #131313;
}

.title {
  margin-bottom: 14px;
  font-size: 28px;
}

.icons:hover {
  cursor: pointer;
}

.icons {
  margin: 10px;
  color: #fff;
}

a {
  text-decoration: none;
}