a {
  text-decoration: none;
}

img {
  height: 164px !important;
}

#logo {
  /* text-shadow: 1px 1px 2px rgba(0,0,0,0.5); */
  font-size: 34px;
}

#logo:hover {
  cursor: pointer;
}

#homepage {
  background-color: #131313;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#homepage img {
  width: 220px !important;
  height: 220px !important;
  margin: 40px 0px;
}

.codingfun {
  background-image: url(https://media.giphy.com/media/f6hnhHkks8bk4jwjh3/giphy.gif);
  /* background-image: url(https://media.giphy.com/media/QsI9b41Pf2OFLJ8UC8/giphy.gif); */
  background-size: 100%;
  width: 220px !important;
  height: 220px !important;
  margin: 40px 0px;
}
/* .codingfun:hover {
  transition: 0.4s;
  background-image: url(https://media.giphy.com/media/QsI9b41Pf2OFLJ8UC8/giphy.gif);
} */

.navigation {
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
}

.nav-wrapper h1 {
  margin: 0 8px;
}

.nav-wrapper h1,
.logo {
  padding: 12px 16px;
  font-size: 22px;
  border-radius: 20px;
  transition: 0.5s;
  font-weight: 700;
}

.nav-wrapper h1:hover {
  cursor: pointer;
  box-shadow: inset 7px 7px 15px #fff,
    inset -7px -7px 20px rgba(255, 255, 255, 1), 0px 0px 4px #fff;
  transition: box-shadow 399ms ease-in-out;
}

.logo:hover {
  cursor: pointer;
}

hr {
  width: 60px;
  margin: 50px auto;
  border-width: 5px;
}

#project {
  background-image: linear-gradient(to bottom, #131313, #3b477c);
}

#research {
  background-image: linear-gradient(to bottom, #3b477c, #6c77a8);
}

#about {
  background-image: linear-gradient(to bottom, #6c77a8, #5383aa);
}

.githubBtnWapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: -50px;
}

.githubBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  margin-bottom: 80px;
  border-radius: 20px;
  font-size: 18px;
  border-radius: 20px;
  background-color: #fff;
  color: #131313;
}

.githubIcon {
  margin: 10px;
}

/* The progress container */
.progress-container {
  position: relative;
  width: 100%;
  height: 4px;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  position: absolute;
  top: 18px;
  height: 4px;
  background-color: #fff;
  width: 0%;
}
.mycard {
  box-shadow: inset 0 0 15px rgba(55, 84, 170, 0),
    inset 0 0 20px rgba(255, 255, 255, 0), 7px 7px 15px rgba(55, 84, 170, 0.15),
    -7px -7px 20px rgba(255, 255, 255, 1),
    inset 0px 0px 4px rgba(255, 255, 255, 0.2);
  background: #f1f3f6;
}

.myTextShadow {
  color: transparent;
  background: #fff;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
}
