.container {
  width: 80%;
  margin: auto;
}

/* header css */

.header {
  background-color: black;
  color: #fff;
  /* box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); */
  position: fixed; 
  top: 0; 
  width: 100%; 
}

.navigation {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
}

.nav-wrapper h1 {
  margin: 0 5px;
}

.nav-wrapper h1, .logo {
  padding: 12px 16px; 
  font-size: 22px;
}

.nav-wrapper h1:hover, .logo:hover {
  cursor: pointer;
}

.logo {
  text-transform: uppercase;
}

.active {
  border-radius: 10px;
  background-color: rgb(85, 230, 230);
  color: #343434;
  box-shadow: 0 8px 6px -6px  rgb(85, 230, 230);
}

/* main pass css */

.homepage {
  background-color: black;
  color: #fff;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section {
  text-align: center;
}

#research {
  background-color: rgb(4, 4, 31);
  color: white;
}



.card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card {
  flex-grow: 0.5;
}